/* Mobil Kodları */
.floating-letter {
  position: absolute;
  font-size: 8rem;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  color: #ffffff;
  font-style: italic;
  filter: blur(1.5px);
  transform-origin: center center;

  /* FLAŞI ENGELLEYEN KRİTİK AYARLAR */
  opacity: 0;
  /* 0.15'ti, 0 yaptık çünkü JS ile canlandıracağız */
  visibility: hidden;
  /* JS yüklenene kadar tamamen gizle */
}

@media(width>=768px) {
  .floating-letter {
    font-size: 10rem;
    filter: blur(2px);
  }
}

@media(width>=1280px) {
  .floating-letter {
    font-size: 12rem;
    filter: blur(2.5px);
  }
}